{
  "env": {
    "development": {
      "presets": ["env", "stage-0"],
      "plugins": [
        "add-module-exports"
      ]
    },
    "production": {
      "presets": ["env", "stage-0", "minify"],
      "plugins": [
        "add-module-exports"
      ]
    },
    "commonjs": {
      "presets": [
        ["env", {
          "useBuiltIns": false
        }]
        , "stage-0"
      ],
      "plugins": [
        "external-helpers"
      ]

    },
    "es": {
      "presets": [
        ["env", {
          "useBuiltIns": false,
          "modules": false
        }]
        , "stage-0"
      ],
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
